
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to "ABPA", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
        <%= link_to "Lieux de pratique", practiciens_path, class: "nav-link navcolors" %>
			</li>
			<li class="nav-item">
        <%= link_to "Qui sommes nous ?", pages_aboutus_path, class: "nav-link navcolors" %>
			</li>
			<li class="nav-item">
        <%= link_to "Actes - Bibliographie", pages_actes_path, class: "nav-link navcolors" %>
			</li>
			<li class="nav-item">
        <%= link_to "Agendas et Activités", agendas_path, class: "nav-link navcolors" %>
  		</li>
			<li class="nav-item">
        <a class="nav-link navcolors" data-toggle="modal" data-target="#myModal" data-backdrop="false">Contact</a>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Contact :</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <a> info&#031;&#027;&#024;&#64;&#021;&#001;abpa.be</a> <br>
                  <a class="contactfb" href="https://www.facebook.com/groups/336382303840605/"><i class="facebook fab fa-facebook logofb" ></i>   Notre page facebook</a>
                </div>
                <div class="modal-footer">
                  <p class="trademarks">ABPA asbl, Tous droits réservés, 2007 - 2019 </p>
                  <%= link_to "sign in", new_user_session_path %>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
		</ul>
	</div>
</div>
