<div class="container-devise">
  <div class="conference-container">
    <% @agendas.each do |entree| %>
      <div class="card-conference ">
        <a href="<%=entree.photo%>" target="_blank"><img src="<%=entree.photo%>" alt=""></a>
        <div class="card-conference-infos">
          <div>
            <h2><%= entree.nom %></h2>
            <p><%= entree.description %></p>
            <p> <%= entree.date %></p>
          </div>
          <% if current_user != nil %>
            <button class ="bouton">
              <%= link_to "Remove", agenda_path(entree), method: :delete%>
            </button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <%= render 'shared/footer' %>
