<% @agendas.each do |entry| %>
<h1><%= entry.nom %></h1>
<img src="<%=entry.photo%>">
<p><%= entry.description %></p>
<p> <%= entry.date %></p>
<button class ="button">
	<%= link_to "Remove", agendas_path(entry), method: :delete%>
</button>
<% end %>
