<div class="container-devise2">
  <div class="big-container-login">
    <div class="small-container-login">
      <%= simple_form_for @practicien do |f| %>
        <%= f.input :nom %>
      	<%= f.input :nompratique, label: "Nom de la pratique" %>
        <%= f.input :adressenum, label: "Adresse + num" %>
        <%= f.input :zipcode, label: "Code postal" %>
        <div class="form-group string required practicien_province">
          <label class="form-control-label string required" for="practicien_province">Province</label><abbr title="required">*</abbr>
          <select class="form-control string required" name="practicien[province]" id="practicien_province">
            <option value="Bruxelles"> Bruxelles</option>
            <option value="Brabant Wallon">Brabant Wallon</option>
            <option value="Hainaut">Hainaut</option>
            <option value="Namur">Namur</option>
            <option value="Liege">Liege</option>
            <option value="Luxembourg">Luxembourg</option>
          </select>
        </div>
      	<%= f.input :email %>
        <div class="education">
          <div class="education_psy">  <%= f.input :educationpsy, label: "Education psycomotrice", as: :radio_buttons, collection: [['oui', 'pratique_educative'], ['non', 'null']], label_method: :first, value_method: :second %> </div>
          <div class="groupe_aide"> <%= f.input :groupeaide, label: "Groupe d'aide", as: :radio_buttons, collection: [['oui', 'groupe_daide'], ['non', 'null']], label_method: :first, value_method: :second %></div>
          <div class="aide_individuelle"> <%= f.input :aideindividuelle, label: "Aide individuelle", as: :radio_buttons, collection: [['oui', 'aide_individuelle'], ['non', 'null']], label_method: :first, value_method: :second%></div>
        </div>
      	<%= f.input :telephone %>
        <%= f.input :telephone_prive, label: 'Telephone N*2' %>
      	<%= f.input :site %>
      	<%= f.button :submit, "ajouter un lieu de pratique", class: "button btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
